/* Globalité */
* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

img {
    user-select: none;
}

/* Partie haute de la page */
header {
    display: flex;
    justify-content: center;
    padding: 30px 50px 5% 50px;
}

header div {
    display: flex;
    justify-content: space-between;
}

header>div>div {
    padding: 15px;
}

a {
    text-decoration: none;
    font-size: 23px;
    color: black;
}

.logo {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 15px;
}

.nav a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
    color: black;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 10px;
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.nav a:hover::after {
    width: 100%;
}

.connexion a {
    position: fixed;
    top: 30px;
    right: 30px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 13px;
    color: black;
    background-color: transparent;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
    z-index: 1000;
}

.connexion a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    z-index: -1000;
    transition: width 0.3s ease-in-out;
}

.connexion a:hover {
    color: white;
}

.connexion a:hover::before {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

footer h1 {
    font-size: 22rem;
    font-weight: 800;
}

footer h4 {
    font-size: 20px;
}

footer p {
    font-size: 20px;
    color: rgba(173, 173, 173, 0.993);
}

footer a {
    color: white;
    margin-top: 20px;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.801);
    text-decoration: underline;
}

footer>div>div {
    display: flex;
    justify-content: space-around;
    padding: 4% 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}