* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-tab {
    width: 20%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

.mid-tab {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.right-tab {
    width: 20%;
    display: flex;
    justify-content: center;
}

#messages-container {
    overflow-y: auto;
}

#messages {
    flex: 1;
    padding: 10px;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#messages-content {
    width: 70%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#connections-content {
    color: black;
    list-style-type: none;
}

.recu, .envoye {
    word-wrap: break-word;
    word-break: break-word; 
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 1.4;
    max-width: 50%;
    text-align: left;
}

.envoye {
    background-color: #565257;
    color: white;
    border-radius: 10px 10px 10px 0;
    margin-right: 30%; /* Aligne les messages envoyés à droite */
}

.recu {
    background-color: #222222;
    color: white;
    border-radius: 10px 10px 0 10px;
    margin-left: 30%; /* Aligne les messages reçus à gauche */
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.global-send {
    position: fixed;
    bottom: 20px;
    left: 55%;
    width: 30%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

#file-input {
    display: none;
}

#file-input + label {
    cursor: pointer;
    padding: 10px 15px;  
    color: black;
    font-size: 14px;
    text-align: center;
    border: none;
    margin: 0;
}

#send {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.file-link {
    color: white;
}

#connections-content {
    padding: 0;
}

#connection-container h1 {
    font-size: 20px;
    color: #c6c9e6;
    font-weight: normal;
}

.connections {
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
}

.parameter {
    display: flex;
    align-items: center;
    padding: 50px 15px 30px 30px;
    border-radius: 20px;
    color: white;
    background-color: #161616;
}

.parameter button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}