* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Partie haute de la page */
header {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}

header div {
    display: flex;
    justify-content: space-between;
}

header>div>div {
    padding: 15px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.logo {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 15px;
}

.nav a {
    margin: 0 20px;
}

.connexion {
    position: fixed;
    top: 30px;
    right: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 13px;
}

/* Main (Partie principale) */

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.title h1 {
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 1%;
    color: black;
}

.title p {
    font-size: 20px;
    line-height: 25px;
    color: black;
}

.title-text {
    width: 25%;
    margin-right: -50%;
}

.open-chat {
    display: flex;
    justify-content: center;
}

.open-chat>a {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 2%;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.open-chat>a>svg {
    position: relative;
    transform: translateY(15%);
    margin-left: 10px;
}

.open-chat>a:hover {
    background-color: rgb(36, 36, 36);
}

/* Partie des bulles */

.aside-total-text {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.aside-total-text>div {
    padding: 20px;
    width: 57%;
    border-radius: 100px;
    background-color: grey;
}

.aside-total-text>div>div {
    display: flex;
    justify-content: space-between;
}

.aside-img {
    border-radius: 30px;
}

.aside-text {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 50px;
    color: white;
}

.aside-text h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 55px;
}

.aside-text p {
    font-size: 20px;
}

/* Fin des aside */
.aside-max {
    text-align: center;
    margin: 7% 7% 13% 7%;
}

.aside-max h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 3%;
}

.aside-max a {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 2%;
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.aside-max a>svg {
    position: relative;
    transform: translateY(15%);
    margin-left: 10px;
}

.aside-max a:hover {
    background-color: rgb(36, 36, 36);
}

/*Footer /Pied de page*/

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

footer h1 {
    font-size: 22rem;
    font-weight: 800;
}